ExcelEncryption_C\#/.vs/ExcelEncryption/FileContentIndex/0c268e98-3b35-4245-8ae0-feb04a93a544.vsidx
ExcelEncryption_C\#/.vs/ExcelEncryption/FileContentIndex/3f3924a8-4bb2-4dca-9bc5-007696c3f206.vsidx
ExcelEncryption_C\#/.vs/ExcelEncryption/FileContentIndex/58220b36-9377-40ea-b42d-23ba357c6b36.vsidx
ExcelEncryption_C\#/obj/Debug/net48/ExcelEncryption.AssemblyInfo.cs
ExcelEncryption_C\#/obj/Debug/net48/ExcelEncryption.AssemblyInfoInputs.cache
ExcelEncryption_C\#/obj/Debug/net48/ExcelEncryption.assets.cache
ExcelEncryption_C\#/obj/Debug/net48/ExcelEncryption.csproj.AssemblyReference.cache
ExcelEncryption_C\#/obj/Debug/net48/ExcelEncryption.GeneratedMSBuildEditorConfig.editorconfig
ExcelEncryption_C\#/obj/ExcelEncryption.csproj.nuget.dgspec.json
ExcelEncryption_C\#/obj/project.assets.json
ExcelEncryption_C\#/obj/project.nuget.cache
ExcelEncryption_C\#/.vs/ExcelEncryption/FileContentIndex/3f3924a8-4bb2-4dca-9bc5-007696c3f206.vsidx
ExcelEncryption_C\#/obj/Debug/net48/ExcelEncryption.AssemblyInfo.cs
ExcelEncryption_C\#/obj/Debug/net48/ExcelEncryption.AssemblyInfoInputs.cache
ExcelEncryption_C\#/obj/Debug/net48/ExcelEncryption.assets.cache
ExcelEncryption_C\#/obj/Debug/net48/ExcelEncryption.csproj.AssemblyReference.cache
ExcelEncryption_C\#/obj/Debug/net48/ExcelEncryption.GeneratedMSBuildEditorConfig.editorconfig
ExcelEncryption_C\#/obj/ExcelEncryption.csproj.nuget.dgspec.json
ExcelEncryption_C\#/obj/project.assets.json
ExcelEncryption_C\#/obj/project.nuget.cache
ExcelEncryption_C\#/.vs/ExcelEncryption/DesignTimeBuild/.dtbcache.v2
ExcelEncryption_C\#/.vs/ExcelEncryption/v17/.futdcache.v2
ExcelEncryption_C\#/.vs/ExcelEncryption/v17/.suo
ExcelEncryption_C\#/.vs/ExcelEncryption/v17/DocumentLayout.json
ExcelEncryption_C\#/.vs/ProjectEvaluation/excelencryption.metadata.v7.bin
ExcelEncryption_C\#/.vs/ProjectEvaluation/excelencryption.projects.v7.bin
ExcelEncryption_C\#/bin/Debug/net48/ExcelEncryption.gha
ExcelEncryption_C\#/bin/Debug/net48/ExcelEncryption.pdb
ExcelEncryption_C\#/obj/Debug/net48/ExcelEncryption.AssemblyInfo.cs
ExcelEncryption_C\#/obj/Debug/net48/ExcelEncryption.AssemblyInfoInputs.cache
ExcelEncryption_C\#/obj/Debug/net48/ExcelEncryption.csproj.AssemblyReference.cache
ExcelEncryption_C\#/obj/Debug/net48/ExcelEncryption.csproj.CoreCompileInputs.cache
ExcelEncryption_C\#/obj/Debug/net48/ExcelEncryption.csproj.FileListAbsolute.txt
ExcelEncryption_C\#/obj/Debug/net48/ExcelEncryption.gha
ExcelEncryption_C\#/obj/Debug/net48/ExcelEncryption.pdb
ExcelEncryption_C\#/obj/Debug/net48/ExcelEncryption.sourcelink.json
ExcelEncryption_C\#/.vs/ProjectEvaluation/excelencryption.projects.v7.bin
ExcelEncryption_C\#/.vs/ProjectEvaluation/excelencryption.metadata.v7.bin
ExcelEncryption_C\#/.vs/ExcelEncryption/v17/DocumentLayout.json
ExcelEncryption_C\#/.vs/ExcelEncryption/v17/.suo
ExcelEncryption_C\#/.vs/ExcelEncryption/v17/.futdcache.v2
ExcelEncryption_C\#/.vs/ExcelEncryption/DesignTimeBuild/.dtbcache.v2
